{% load static %}
<html>
    <head>
        <title>电子健康卡</title>
        <script type="text/javascript" src="https://js.aq.qq.com/js/aq_common.js"></script>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link rel="stylesheet" type="text/css" href="{% static 'health/css/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'health/css/card_face_temp.css' %}" />
    </head>

    <body>
        <div class="wrap">
            <div class="card-face-container">
                <img class="card-bg" src="{% static 'health/img/cardnewbg.png' %}" alt="" />
                <div class="card-top-info">
                    <div class="card-top-org">广东省卫生健康委员会</div>
                    <div class="card-top-title">
                        <img src="{% static 'health/img/icon2.png' %}" alt="" />
                        <span>电子健康卡</span>
                    </div>
                </div>

                <div class="card-detail-info">
                    <div class="card-user-info">
                        <span class="card-user-name">用户姓名</span>
                        <span class="card-user-id">4401**********4224</span>
                    </div>
                    <div class="card-qrcode">
                        <img class="card-qrcode-logo" src="{% static 'health/img/logo_.png' %}" alt="" />
                        <img src="{% static 'health/img/qrcode.png' %}" alt="" />
                    </div>
                </div>

                <div class="card-footer">
                    中华人民共和国国家卫生健康委员会监制
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{% static 'health/js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'health/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'health/js/card_face_temp.js' %}"></script>
    <script type="text/javascript"></script>
</html>
